<?xml version="1.0" ?>
<launch>
    <node name="path_finder_1" pkg="formation_builder" type="path_finder.py" output="screen">
        <param name="planner_id" type="int" value="1"/>
    </node>

    <node name="path_finder_2" pkg="formation_builder" type="path_finder.py" output="screen">
        <param name="planner_id" type="int" value="2"/>
    </node>

    <node name="path_finder_3" pkg="formation_builder" type="path_finder.py" output="screen">
        <param name="planner_id" type="int" value="3"/>
    </node>

    <node name="path_finder_4" pkg="formation_builder" type="path_finder.py" output="screen">
        <param name="planner_id" type="int" value="4"/>
    </node>
</launch>
